body a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.navbar {
    background-color: #2CD33C;
    height: 3.5rem;
    position: relative;
    margin-bottom: 3.5rem;
}

.navbar-collapse .logo-link {
    color: aliceblue;
}

.navbar-collapse a:hover {
    color: white;
}

.navbar-nav li a {
    color: white;
}

.navbar-nav li:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    color: white;
}

.navbar .offcanvas {
    background-color: #2CD33C;
}

/* main section style */
.main-section {
    position: relative;
    /* display: flex; */
    /* height: 90vh; */
    top: 3.5rem;
}

.listTypes  {
    width: 100%;
    padding: 0;
}

.listTypes li {
    list-style: none;
    padding: 0;
    margin-left: -12px;
    margin-bottom: 0.5rem;
}

.listTypes li a {
    color: #333;
    text-decoration: none;
}

.listTypes li a:hover {
    color: #D32CC3;
}

.main-section .job-offer {
    padding: 0;
    margin: 0;
}

/* footer section style */
.footer {
    position: relative;
    height: 10vh;
}

.footer .row {
    position: relative;
    background-color: gold;
}

.footer .list-group li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer .list-group li a:hover {
    color: #D32CC3;
}

/* media querries*/
@media screen and (max-width: 768px) {
    .navbar {
        height: 3.5rem;
        display: flex;
        align-self: center;
    }
}

/* @media (min-width: 480px)


.navbar {
    background-color: #2CD33C;
    height: 3.5rem;
    position: relative;
    margin-bottom: 3.5rem;
} */