body a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.navbar {
    background-color: #2CD33C;
    height: 3.5rem;
    position: relative;
    margin-bottom: 3.5rem;
}

.navbar-nav {
    width: 87%;
    background-color: red;
}

.navbar-collapse .logo-link {
    color: aliceblue;
}

.navbar-collapse a:hover {
    color: rgb(253, 251, 114);
}

.navbar-nav li a {
    color: white;
}



/* main section style */
.main-section {
    position: relative;
    /* display: flex; */
    /* height: 90vh; */
    top: 3.5rem;
}

.listTypes  {
    width: 100%;
    padding: 0;
}

.listTypes li {
    list-style: none;
    padding: 0;
    margin-left: -12px;
    margin-bottom: 0.5rem;
}

.listTypes li a {
    color: #333;
    text-decoration: none;
}

.listTypes li a:hover {
    color: greenyellow;
}

.main-section .job-offer {
    padding: 0;
    margin: 0;
}

/* footer section style */
.footer {
    position: relative;
    height: 25vh;
}